<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    <title>Home</title>
</head>
<body>
    <div class="parent-div" style="height: 100%;width: 100%;">
    </div>
  
    <div class="header-div"
      style="display: block;padding:20px 0px ;background-color: rgb(105, 186, 216); height: 40%;width:100%;position: relative;text-decoration: none; box-shadow: 2px 3px 10px 3px;">
      <h2>Adhar Mask Portal</h2>
  
    </div>
    <div class="container">
        <h1 style="margin: -3% 0% 5% 44%;">Portal</h1>
    <a href="/register/" style="background-color: rgb(105, 186, 216);box-shadow: 2px 3px 10px 3px black; padding: 10px;">Register User</a>
    <a href="/user/all/" style="margin-left: 20px;background-color: rgb(105, 186, 216);box-shadow: 2px 3px 10px 3px black;padding: 10px;">Show User</a>
</div>
</body>
</html>