<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    <title>User Registration</title>
</head>
<body>
    <div class="parent-div" style="height: 100%; width: 100%;">

    </div>
    <div class="header-div"
      style="display: block;padding:20px 0px ;background-color: rgb(105, 186, 216); height: 40%;width:100%;position: relative;text-decoration: none; box-shadow: 2px 3px 10px 3px;">
      <h2>Adhar Mask Portal</h2>
  
    </div>
    
        <h1 style="margin: 5% 3% 1% 44%;">Adhar Card</h1>
    
    <div style="padding: 40px; box-shadow: 2px 3px 10px 3px gray;">
    <center>
    <img src="{{front}}" alt="front" width="450" height="250">
    <img src="{{back}}" alt="back" width="450" height="250"> 
</center>
</div>
</body>
</html>