<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    
</head>

<body>
    <div class="parent-div" style="height: 100%; width: 100%;">

    </div>
    <div class="header-div"
      style="display: block;padding:20px 0px ;background-color: rgb(105, 186, 216); height: 40%;width:100%;position: relative;text-decoration: none; box-shadow: 2px 3px 10px 3px;">
      <h2>Adhar Mask Portal</h2>
  
    </div>
    
        <h1 style="margin: 5% 0% 0% 41%;">Adhar Registration</h1>
    
    <div class="container" >
    <form action="/register/" method="post" enctype="multipart/form-data">
        <input type="text" placeholder="Name..." name="name" style="box-shadow: 2px 3px 10px 3px gray;"><br>
        <input type="number" min ="111111111111" placeholder="Aadhar Number..." name="ad_number"style="box-shadow: 2px 3px 10px 3px gray;"><br>
        <input type="file" title="Choose a video please" name="front" id="img" style="box-shadow: 2px 3px 10px 3px gray;" />
        <input type="file" title="Choose a video please" placeholder="Aadhar Back.." name="back" style="box-shadow: 2px 3px 10px 3px gray;"><br>
        <input type="submit" style="box-shadow: 2px 3px 10px 3px gray;">
    </form>
    </div>
</body>
</html>